<div class="flex flex-wrap">
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/UgzhfrY.jpg" alt="Mission Beach">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">San Diego Beach</div>
	    <p class="text-gray-700 text-base">
	      This photo was long enough ago that people were allowed to be together still. I never used to like the beach but this day was really nice. 
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/UgzhfrY.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/XWqEKZP.jpg" alt="Nova the Cat">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Nova</div>
	    <p class="text-gray-700 text-base">
	      Many of you have not met her, but this is my cat Nova who I love dearly.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/XWqEKZP.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/MzDMOQC.jpg" alt="Flamingo">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Flamingo</div>
	    <p class="text-gray-700 text-base">
	      Flamingo turn pink from eating Shrimp. this one ate too many though
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/MzDMOQC.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/mqAsF4f.jpg" alt="Cactus">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">San Diego Cactus</div>
	    <p class="text-gray-700 text-base">
	      In the southwest, people grow cactuses like grass. Some really impressive specimins can be found in people's front yards and I am pretty jealous of them. The rest of the world loves to plant invasive species. Soft grass seems to be too attractive to pass up for most. People in San Diego have learned to love their prickly friends.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/mqAsF4f.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/sWfY5Oi.jpg" alt="Entrance to the Pacific Northwest">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Entrance</div>
	    <p class="text-gray-700 text-base">
	      Many people have not visited the Pacific Northwest. If you do have the opportunity, you are greeted with this sight. I never understood how people were brought to their knees by nature until I came here and saw it for myself.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/sWfY5Oi.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/X6mNAnO.jpg" alt="Singular Cow">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Cow</div>
	    <p class="text-gray-700 text-base">
	      I once thought cows didn't get lonely  
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/X6mNAnO.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/IcxQXnK.jpg" alt="Sushi">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Sushi</div>
	    <p class="text-gray-700 text-base">
	      Sushi we got at a spot near Mission Beach San Diego.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/IcxQXnK.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/l1VikiV.jpg" alt="JP Morgan Conference Room">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Conference Room</div>
	    <p class="text-gray-700 text-base">
	      I used to teach in this room. This room was likely the worst summer for many people. This was not my worst Summer, but it did feel ironic teaching a subject I did not want to teach to a room full of people who did not want to learn it.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/l1VikiV.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/owuTKLu.jpg" alt="Long Kansas Road">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Long Road Ahead</div>
	    <p class="text-gray-700 text-base">
	      Kansas is home to some of the longest roads out there. On top of that it is a relatively flat state so you can really just see forever down the horizon. Driving here turned out to be really challenging but rewarding.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/owuTKLu.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/JhnPQxV.jpg" alt="Hob Nob Hill Eggs">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Hob Nob Hill Eggs</div>
	    <p class="text-gray-700 text-base">
	      Just a really good meal from Hob Nob in San Diego. Worth a visit if you are ever in town
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/JhnPQxV.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/Lr44F9X.jpg" alt="Tyrell Profile">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Tyrell Profile</div>
	    <p class="text-gray-700 text-base">
	      This photo of Tyrell didn't come out how I thought it would but it was still cool. It is one of those photos that looks good because of the subject, but shows how much I need to learn still about using my camera
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/Lr44F9X.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/9kaGpBy.jpg" alt="San Diego Cafe Dog">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Cafe Dog</div>
	    <p class="text-gray-700 text-base">
	      San Diego has a culture of eating outdoors. As a result we got to meet many good animals. This one decided to take a lil sniff and taste of my camera. Good girl.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/9kaGpBy.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/DO27Q41.jpg" alt="Six the Cat">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Six</div>
	    <p class="text-gray-700 text-base">
	      This isn't the best photo ever but it's the last one I ever got to take of my late cat Six.
	      <br>
	      I miss you so much Six
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/DO27Q41.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/VioAQ93.jpg" alt="Nova and Milk the Cats">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Six</div>
	    <p class="text-gray-700 text-base">
	      Looks like the CAT is out of the bag. These are my cats Nova (left) and Milk (right). Nova doesn't seem to like Milk much, but she is learning to have him as a brother.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/VioAQ93.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/ba6YOyd.jpg" alt="Abanadon School">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Abanadon School</div>
	    <p class="text-gray-700 text-base">
	      I hate seeing abandon spots. I think places like these must have had someone's favorite memory. Positive memories turn into positive energy, and that energy is lost now.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/ba6YOyd.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/OI5QmpV.jpg" alt="Pink Glasses">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Pink Glasses</div>
	    <p class="text-gray-700 text-base">
	      Not much to say about this. I like to take "meaningful" photos because I think they are cheesy but they still just look nice anyway. No reason for this to exist but I like it anyway.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/OI5QmpV.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/qCm2wkA.jpg" alt="Cullen with Camera">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Old Camera</div>
	    <p class="text-gray-700 text-base">
	      My friend wanted to show off his camera since I had just gotten started myself. I decided to snap this cause I wanted to take photos of basically anything I could see that day.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/qCm2wkA.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/iD5qMSl.jpg" alt="Cullen Parker Profile">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Cullen Parker Profile</div>
	    <p class="text-gray-700 text-base">
	      Believe it or not this is a candid photo. Cullen is just really photogenic
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/iD5qMSl.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/QoXW1Rd.jpg" alt="Stylish Mannequin">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Stylish Mannequin</div>
	    <p class="text-gray-700 text-base">
	      I wish I was as attractive as this doll
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/QoXW1Rd.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/BZBXWb0.jpg" alt="Cullen Portrait">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Cullen Parker</div>
	    <p class="text-gray-700 text-base">
	      Another photo of Cullen. This one is posed somewhat. You can also see a mannequin I was obsessed with in the background.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/BZBXWb0.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/VoApZkR.jpg" alt="Lush Window">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Lush Window</div>
	    <p class="text-gray-700 text-base">
	      I don't know why but Lush is always a really magical experience for me. It's so colorful and full of smells that evoke memories. They really have their aesthetic down and I wish I could have gotten a better photo to show it
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/VoApZkR.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
</div>