<div class="flex flex-wrap">
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/ba6YOyd.jpg" alt="Abanadon School">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Abanadon School</div>
	    <p class="text-gray-700 text-base">
	      I hate seeing abandon spots. I think places like these must have had someone's favorite memory. Positive memories turn into positive energy, and that energy is lost now.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/ba6YOyd.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/OI5QmpV.jpg" alt="Pink Glasses">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Pink Glasses</div>
	    <p class="text-gray-700 text-base">
	      Not much to say about this. I like to take "meaningful" photos because I think they are cheesy but they still just look nice anyway. No reason for this to exist but I like it anyway.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/OI5QmpV.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/qCm2wkA.jpg" alt="Cullen with Camera">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Old Camera</div>
	    <p class="text-gray-700 text-base">
	      My friend wanted to show off his camera since I had just gotten started myself. I decided to snap this cause I wanted to take photos of basically anything I could see that day.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/qCm2wkA.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/iD5qMSl.jpg" alt="Cullen Parker Profile">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Cullen Parker Profile</div>
	    <p class="text-gray-700 text-base">
	      Believe it or not this is a candid photo. Cullen is just really photogenic
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/iD5qMSl.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/QoXW1Rd.jpg" alt="Stylish Mannequin">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Stylish Mannequin</div>
	    <p class="text-gray-700 text-base">
	      I wish I was as attractive as this doll
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/QoXW1Rd.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/BZBXWb0.jpg" alt="Cullen Portrait">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Cullen Parker</div>
	    <p class="text-gray-700 text-base">
	      Another photo of Cullen. This one is posed somewhat. You can also see a mannequin I was obsessed with in the background.
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/BZBXWb0.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
	<div class="rounded overflow-hidden shadow-lg sm:w-full md:w-1/3 py-4 px-3 mx-auto">
	  <img class="w-full" src="https://i.imgur.com/VoApZkR.jpg" alt="Lush Window">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2">Lush Window</div>
	    <p class="text-gray-700 text-base">
	      I don't know why but Lush is always a really magical experience for me. It's so colorful and full of smells that evoke memories. They really have their aesthetic down and I wish I could have gotten a better photo to show it
	    </p>
	    <div class='py-2 block'>
	    	<a target='_blank' class='text-xs' href="https://i.imgur.com/VoApZkR.jpg">high resolution</a>
	    </div>
	  </div>
	</div>
</div>