#hero {
    background-image: url('/assets/images/Top_view_office_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 10%;
    height: 50vh;
    width: 100vw;
}

#hero > .flex {
	height: 100%;
}