<div id="deck-head" class="bg-fixed bg-responsive">
    <div class="flex content-center flex-wrap">
        <div class="bg-grey-lighter opacity-75 w-3/4 mx-auto rounded-lg">
            <div class="mx-auto text-center p-2">
                <h1>My Magic: The Gathering Decks</h1>
            </div>
            
            <div class="mx-auto p-2 px-4">
                <p>Below you will find a list of Magic: The Gathering decks that I own and actively play with. Decks listed here are ones that I like enough that I have built them in paper. </p>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let deck of deckLists" id="deck-section-wrapper">
    <section class="flex items-center my-3 py-1">
        <div class="deck-description w-2/3 mx-3">
            <h2 class="py-2 align-middle">{{deck.name}} <small class="text-xs"><a href="/deck/{{deck.id}}">full list</a></small></h2>
            <p class="align-middle">{{deck.description}}</p>
        </div>
        <div class="signature-card w-1/3 mx-3 text-center">
            <img class="w-48 mx-auto" src="{{signatureCards[deck.signature_card]}}" />
        </div>
    </section>
</div>