<div id="deck-head" class="bg-fixed bg-responsive">
    <div class="flex content-center flex-wrap">
        <div class="bg-grey-lighter opacity-75 w-3/4 mx-auto rounded-lg">
            <div class="mx-auto text-center p-2">
                <h1>My Magic: The Gathering Decks</h1>
            </div>
            
            <div class="mx-auto p-2 px-4">
                <p>Below you will find a list of Magic: The Gathering decks that I own and actively play with. Decks listed here are ones that I like enough that I have built them in paper. </p>
            </div>
        </div>
    </div>
</div>